* {
    font-family: "CustomFont";
    background-color: #BEE3DB;
    font-weight: 200;
    
}

 th, td {
    color: #FFD6BA;
    border-style: solid;
    border-color: #555B6E;
    width: 30px;
    height: 25px;
    background-color: #555B6E;
    border-radius: 5px 5px;
    text-align: center;
}
tr, td:hover {
    background-color: #FAF9F9;
    border-color: #FAF9F9;
    color: #555B6E;
}
th {
    font-size: 15px;
    text-align: center;
    
    background-color: #FFD6BA;
    border-color: #FFD6BA;
    border-style: solid;
    color: #555B6E;
}
th:hover {
    background-color: #89B0AE;
    border-color: #89B0AE;
}
#null, #comma, #count, #plus, #minus, #multiplication, #division, #percent, #negative, #ac {
    width:15px;
    
}
#resultth {
    
    height: 30px;
    text-align: right;
}
#resultth:hover {
    background-color: #555B6E;
    border-color: #555B6E;
}
#table1 {
    
    margin-left: auto;
    margin-right: auto;

}
#table1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    height:100vh;
}
@font-face {
    font-family: "CustomFont";
    src: url("./fonts/oswald-variablefont_wght-webfont.woff");
    src: url("./fonts/oswald-variablefont_wght-webfont.woff") format("woff");
    }